<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda por POSICION</title>
</head>
<h1 style="color:blanchedalmond; width: 100%; font-size: 250%; text-align: center;">FORMULARIO PARA BUSCAR JUGADOR A TRAVÉS DE LA POSICION</h1>
<body style="background-color:darkolivegreen">
<legend style="color:aquamarine ; font-size: 150%;">Coloque posicion a buscar</legend>

    <form action="/mi_app/buscar-jugador/" method="GET">
        <label style="color:aquamarine">→</label>
        <input type="number" name="posicion" id="posicion">
        <input type="submit" value="Buscar">
    


</body>
</html>